*
  margin: 0
  padding: 0

body
  // 背景图片
  background-image: url('../images/bg.jpg')
  // 背景图片位置固定
  background-attachment: fixed
  // 背景不要重复
  background-repeat: no-repeat
  // 背景位置居中
  background-position: center center
  // 背景覆盖整个viewport
  background-size: cover  
  // 当背景没有加载时的颜色
  background-color: #fff
  font: 14px 'microsoft yahei'
  font-weight: 300